{% extends '::base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		<div class="col-md-5 col-md-offset-1 left">
			<img class="img-style-3" src="{{ asset('uploads/film/' ~ movie.folder ~ '') }}">
		</div>
		<div class="col-md-5">

			<h2>{{ movie.titre }}</h2>
			<hr>
			<p>{{ movie.description }}</p>
			
		</div>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-12">
			<h2>Commentaires : </h2>
			<hr>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

			{{ render(controller('FrontendBundle:Post:new')) }}
			{% else %}

			<p>Vous devez être connecté pour laisser un commentaire !</p>
			
			{% endif %}

			{{ render(controller('FrontendBundle:Post:index')) }}


			{# CODE HERE #}
		</div>
	</div>

{% endblock %}